/* Base styles for the table */
#ihl-heats-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif; /* Change this to your desired font family */
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Styling the table header */
#ihl-heats-table thead {
    background-color: #009879; /* Change this color if you prefer a different one */
    color: white;
    text-align: left;
}

#ihl-heats-table thead th {
    padding: 10px 20px;
}

/* Styling the table rows */
#ihl-heats-table td {
    padding: 2px 20px;
    
}
/* Styling the table rows */
#ihl-heats-table tr.heat-first-row td {
    border-top: 2px solid #dddddd;
: 50px;
    
}

#ihl-heats-table td:nth-child(1) {
    #max-width: 4em;  /* Adjust as needed */
}
#ihl-heats-table td:nth-child(2) {
    word-wrap: break-word;
    max-width: 20em;  /* Adjust as needed */
    overflow-wrap: break-word;
}
#ihl-heats-table td:nth-child(3) {
    max-width: 10em;  /* Adjust as needed */
}

#block_menu {
    width: 80%;
}
